@using Abrotelia.Web.Code.Common
@using Abrotelia.Web.Code.Repository
@using Abrotelia.Web.Code.ViewModels
@{
    Site.ImageCustom = null;
    var author = Model as VMAuthor;
    VMGalleryItems vmResults = null;
    VMAuthors vmAuthors = null;
    if (null != author)
    {
        vmResults = VMGalleryItems.LoadByAuthor(author, new GalleryItemsRepository());
    }
    else
    {
        vmAuthors = VMAuthors.Load(new AuthorsRepository());
    }
}
<div class="row">
    <div class="container">
        @galleryHelpers.Search((null == author) ? "" : author.FullName)
        @if (null != vmResults)
        {
            <div id="authorDetails" itemscope itemtype="http://schema.org/Product">
                <h3 itemprop="author">@author.FullName</h3>
                <article itemprop="description">
                    @Html.Raw(HttpUtility.HtmlDecode(author.Description))
                </article>
            </div>
            <div id="itemsList" itemprop="offers">
                @galleryHelpers.DisplayAllItems(vmResults, "Avtorjeva dela")
            </div>
        }
        @if (null != vmAuthors)
        {
            <div itemscope itemtype="http://schema.org/Person">
                <h3>Umetniki</h3>
                @authorHelpers.DisplayIndex(vmAuthors)
            </div>
        }
    </div>
</div>